source_subscription_id = "2b28ee88-a096-446b-990a-f6a8d6803ffc"
dest_subscription_id   = "2b28ee88-a096-446b-990a-f6a8d6803ffc"
source_storage_account_name = "datauseast1"
source_storage_account_resource_group = "giridhar-us-1"
dest_storage_account_name = "datasweden"
dest_storage_account_resource_group = "giridhar-sweden"
destination_container_name = "new-store"
source_container_path = "/deploy"
arc_vm_resource_id = "<your-arc-vm-resource-id>"
arc_vm_uuid = "<your-arc-vm-uuid>"
common_tags = {
  Environment = "nonprod"
  Project     = "pmaguard"
}
